@import '../../styles/colors';

.taskWrapper {
  height: 40px;
  padding-top: 10px;

  > :last-child {
    margin-left: 10px;
  }
}

.checkbox {
  position: relative;
  top: 4px;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid $checkbox-border-color;
  border-radius: 3px;
  cursor: pointer;
}

.checkboxSelected {
  background: $checkbox-checked-color;
}

.checkboxSelected::after {
  position: relative;
  top: -2px;
  left: 2px;
  color: white;
  content: '\2713';
}


