@import "src/styles/breakpoints";
@import "src/styles/colors";

.containerWrapper {
  width: auto;
  height: auto;
  padding: 50px 25px 40px;
  border: 2px solid $color-default-grey;
  margin: 15px;
  background-color: $color-default-light;
  border-radius: 15px;

  > h2 {
    line-height: 0;
  }
}

.header {
  max-width: 97%;
  margin: 0 auto;
}
