@import "src/styles/breakpoints";
@import "src/styles/variables";

.wrapper {
  background-color: $color-default;

  width: auto;
  height: auto;
  margin: 10px;
  padding: 5px;

  > h2 {
    line-height: 0;
  }

  //@include tablet-max {
  //  border: 1px solid red;
  //}
}

.content {
  border: 1px solid green
}
