// palette
$color-default-dark: #000;
$color-default-grey: #e1e1e1;
$color-default-light: #FFF;
$color-grey: #EEE;
$color-green: #02b798;
$color-green-light: #f2fbfa;

// backgrounds
$background-color-default: $color-default-light;
$background-color-grey: $color-grey;

// progress bar
$progress-bar-value: $color-green;
$progress-bar-background: $color-green-light;

// fonts
$font-color-dark: $color-default-dark;
$font-color-light: $color-default-light;
