@import './colors';

$font-size: 14px;
$font-size-xm: 10px;
$font-size-sm: 12px;
$font-size-lg: 16px;
$font-size-xl: 16px;


$font-color-dark: $color-default-dark;
$font-color-light: $color-default-light;

