$color-default: #FFF;
$color-grey: #EEE;
$color-green: #02b798;
$color-green-light: #f2fbfa;

$background-color-default: $color-default;
$background-color-grey: $color-grey;

$progress-bar-value: $color-green;
$progress-bar-background: $color-green-light;
