// Custom marker
// I'd love to do it with before and after and proper unicode icons
// but text next to icon prevents me from doing it...
//summary::after {
//  content: "\02C4 Show";
//  font-size: 1.5rem;
//  font-weight: 400;
//  line-height: 1;
//  margin-right: 1rem;
//  cursor: pointer;
//}

// Custom marker
//summary::after {
//  content: "\02C5 Hide";
//}


details {
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:not([open]) {
    animation-name: fold-in;
    animation-duration: .2s;
  }

  summary {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
  }

  // Disable browser default marker
  summary::-webkit-details-marker,
  summary::marker {
    content: "";
    display: none;
  }

  .content {
    border: 1px solid red;
  }
}

// Collapsible OPEN
details[open] {
  .content {
    animation-name: fold-out;
    animation-duration: .6s;
  }
}

.rotateIcon {
  > svg {
    transform: rotate(180deg);
  }
}

.showHideText {
  width: 55px; // to stop text and icon from moving from right side.
}

// align icons...
span:first-child {
  > svg {
    position: relative;
    top: 2px;
  }
}

// Fake it 'til you make it animations
@keyframes fold-out {
  0% {
    opacity: 0;
    margin-top: -1rem;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes fold-in {
  0% {
    padding-bottom: 1rem;
  }

  100% {
    padding-bottom: 0;
  }
}
