// I'd love to do it with before and after and proper unicode icons
// but text next to icon prevents me from doing it...
//summary::after {
//  content: "\02C4 Show";
//}
//summary::after {
//  content: "\02C5 Hide";
//}

@import '../../styles/colors';

details {
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:not([open]) {
    animation-duration: .2s;
    animation-name: fold-in;
  }

  summary {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
  }

  // Disable browser default marker
  summary::-webkit-details-marker,
  summary::marker {
    display: none;
    content: "";
  }
}

// Collapsible OPEN
details[open] {
  .content {
    animation-duration: .2s;
    animation-name: fold-out;
  }
}

// set class when open
.rotateIcon {
  > svg {
    transform: rotate(180deg);
  }
}

.positionText {
  width: 55px; // to stop text and icon from moving from right side.
  font-weight: lighter;
}

// align icon...
span:first-child {
  > svg {
    position: relative;
    top: 2px;
  }
}

.content {
  margin-top: 10px;
  margin-left: 25px;
}

@keyframes fold-out {
  0% {
    margin-top: -1rem;
    opacity: 0;
  }

  100% {
    margin-top: 15px;
    opacity: 1;
  }
}

@keyframes fold-in {
  0% {
    padding-bottom: 1rem;
  }

  100% {
    padding-bottom: 0;
  }
}
