@import 'https://fonts.googleapis.com/css2?family=Lato&display=swap';

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}
