@import "src/styles/colors.scss";
@import "src/styles/fonts.scss";

.container {
  $color: $progress-bar-value;
  $background-color: $progress-bar-background;

  $border-radius: 15px;
  $height: 30px;

  width: 100%;

  // display value within progress bar
  > span {
    position: relative;
    font-size: $font-size-xl;
    top: calc((-1 * $height / 2) - ($font-size-xl / 2) - 2px); // -2px for extra centering
    color: $font-color-light;
  }

  > progress {
    width: 100%;
    height: $height;
    border-radius: $border-radius;
    background: $background-color; // for FF


    /* RESETS DEFAULT STYLES */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    box-sizing: border-box;
    border: 0; // for FF
    /* END RESET STYLES*/

    /* WEBKIT BROWSERS - CHROME, OPERA AND SAFARI */
    &::-webkit-progress-inner-element {
      appearance: none;
      border: none;
    }

    &::-webkit-progress-bar {
      background-color: $background-color;
      border-radius: $border-radius;
    }

    &::-webkit-progress-value {
      background-color: $color;
      border-radius: $border-radius;
      color: $color;
    }

    /* MOZILLA FIREFOX */
    &::-moz-progress-bar {
      background-color: $color;
      border-radius: $border-radius;
    }
  }
}
